{% extends 'main.html' %}
{% load static %}
{% block content %}
	<title>bitatu | Login page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-design.css' %}">

	<div class="container">
		<div class="login-left">
			<div class="login-header">
				<h1>Welcome Back</h1>
				<p>Login for a customized experince</p>
			{% for message in messages %}
			<p id="messages">{{message}}</p>
			{% endfor %}
			</div>
			<form class="login-form" action="" method="POST" autocomplete="on">
				{% csrf_token %}
				<div class="login-form-content"> 
					<div class="form-item">
						<label for="username">Enter Username</label>
						<input type="text" id="Username" name="username" required>
					</div>
					<div class="form-item">
						<label for="password">Enter Password</label>
						<input type="password" id="Password" name="password" required>
					</div>
					<div class="form-item">
						<div class="checkbox">
							<input type="checkbox" id="rememberme"name="" checked>
							<label for="rememberme" class="check">Remember Me</label>
						</div>
					</div>
					
					<button type="submit">Sign In</button>

				</div>
				<a href="/sign_up/" id="not-resgistered">Don't have an account? Sign Up</a>
				<a href="{% url 'reset_password' %}" id="not-resgistered">Forgot Password? reset Password</a>

			</form>
		</div>
		<div class="login-right">
			<img src="{% static 'images/ui-bg.jpg' %}">
		</div>

	</div>
{% endblock content %}