{% extends 'main.html' %}
{% load static %}
{% block content %}
	
<title>bitatu | password reset </title>
<br><br><br>
<center>
	<div style="width: 60%">
<h1>Password Reset <span class="theme">Sent <iconify-icon icon="line-md:email"></iconify-icon></span></h1>
<p>We've emailed you instructions for setting your passwords. If an account exists with the email you entered. You should Receive them shortly. If you don't receive an email. please make sure you've entered the address you registered with and check your span folder.</p>
</div>


</center>

{% endblock content %}