{% extends 'main.html' %}
{% load static %}
{% block content %}
	
<title>bitatu | password reset </title>
<br><br><br>
<center>
	<div style="width: 60%; -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px 20px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px 5px rgba(214,214,214,1);">
<h1>Password Reset<span class="theme"> Succesfully</span> Completed</h1>
<p>You can now login with your new password!</p>

<a href="/login/" style="display: inline-block;-flex; text-align: center; margin: 3rem; padding: 12px 35px; margin-top: 1.5rem; border-radius: 30px;background: linear-gradient(45deg, #131086, #b621f3);color: white; "><i class="fa fa-arrow-left"> Login</i></a>
</div>


</center>

{% endblock content %}